<div class="hero-unit">
  <h1>Assista a séries de TV quando quiser, onde quiser.</h1>
  <p>
    <%= link_to "Cadastre-se", new_user_registration_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>